
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="itemModal.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">{{name}}</h4>
  </div>
  <div class="modal-body">
    ${{price}}
    <form [formGroup]="itemForm" action="">
        <label for="" class="control-label mb-0">Amount:</label>
        <input type="number" name="userName" formControlName="amount" class="form-control form-control-sm" >
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="itemModal.hide()" mdbWavesEffect>Close</button>
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveCartItem()" mdbWavesEffect>Save!</button>
  </div>
</div>