<div class="" style="height:90%">
    <div class="row h-100 m-0">
      <div class="col-3">
          <div class="container-fluid h-100  pl-3">
              <div class="d-flex flex-column h-100">
                <h5 class="inline"><i class="fa fa-shopping-basket">Cart</i></h5>
              <div class="container">
                <ol *ngIf=" cartItemList && cartItemList.length>0">
                  <li *ngFor="let item of cartItemList">{{item.name}} X {{item.amount}} = {{item.total}}</li>
                </ol>
              </div>
              <div class="h-100 d-flex">
                <div class="row align-self-end h-25">
                  <div class="col">
                    Total: {{cartTotal}}
                  </div>
                  <div class="col">
                    <button mdbBtn color="success" class="ml-3 waves-light btn btn-sm" [routerLink]="['../order']" type="button" mdbWavesEffect>Order!</button>
                  </div>
                </div>
          
              </div>
              </div>
            </div>
      </div>
      <div class="col">
        <div class="container">
          <div class="card">
            <h5>Shipping Details</h5>
            <hr>
            <form action="" [formGroupName]="shippingForm">
              <select id="city" class="form-control mb-1" formControlName="city" placeholder="City">
                <option *ngFor="let city of cityList" [value]="city">{{city}}</option>
              </select>
              <input type="text" id="street" class="form-control mb-1" formControlName="street" placeholder="Street">

              <h5>Payment</h5>
              <hr>
              <input type="text" id="street" class="form-control mb-1" formControlName="street" placeholder="Credit Card">
            </form>
          </div>
        </div>
      </div>
    </div>
        
  </div>