<div class="" style="height:90%">
  <div class="row h-100 m-0">
    <div class="col-3" mdbCollapse [isCollapsed]="false" [class.d-none]="cartCollapsed" #cart="bs-collapse">
        <div class="d-flex flex-column mt-2 grey lighten-2 h-100 ">
            <div class="container-fluid h-100  p-3">
              <div class="d-flex flex-column h-100">
                <div class="d-flex h-25 justify-content-between">
                  <h5><i class="fa fa-shopping-basket">Cart</i></h5>
                  <div class="container">
                    <button mdbBtn mdbWavesEffect (click)="removeAllCartItems()" class=" waves-light btn btn-sm text-danger float-right" type="button">New Cart</button>
                  </div>
                </div>
              <div class="container">
                <ol *ngIf="cartItemList.length>0">
                  <li *ngFor="let item of cartItemList">
                    <span class="text-primary">{{item.name}}</span> {{item.amount}}x @ {{item.price}} &nbsp;<span (click)="deleteCartItem(item.id)" style="cursor:pointer"><i class="pointer text-danger fa fa-bomb"></i></span>
                  </li>
                </ol>
              </div>
              <div class="h-100 d-flex">
                <div class="row align-self-end h-25">
                  <div class="col">
                    Total: {{cartTotal | number}}
                  </div>
                  <div class="col">
                    <button mdbBtn color="success" class="ml-3 waves-light btn btn-sm" [routerLink]="['../order']" type="button" mdbWavesEffect>Order!</button>
                  </div>
                </div>
          
              </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
      <div class="container">
          <form [formGroup]="searchForm" class="form-inline md-form form-sm active-cyan-2">
              <input (keyup)="searchItems()" formControlName="search" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
                mdbInputDirective>
              <i class="fa fa-search" aria-hidden="true"></i>
            </form>
      </div>
    <button mdbBtn color="primary" class="ml-3 waves-light btn btn-sm" type="button" (click)="cart.toggle();cartCollapsed=!cartCollapsed" mdbWavesEffect>Hide Cart</button>
    <div class="container-fluid">
        <ul class="nav  mb-3 justify-content-center grey lighten-4 py-1">
            <li class="nav-item px-4" mdbWavesEffect [class.bg-info]="dairyActive" (click)="loadItems(1)">
                <a class="nav-link black-text"  >Dairy</a>
            </li>
            <li class="nav-item border-left px-4" mdbWavesEffect [class.bg-info]="meatActive" (click)="loadItems(2)">
                <a class="nav-link black-text"  >Meat</a>
            </li>
            <li class="nav-item border-left px-4" mdbWavesEffect [class.bg-info]="carbsActive" (click)="loadItems(3)">
                <a class="nav-link black-text"  >Carbs</a>
            </li>
            <li class="nav-item border-left px-4" mdbWavesEffect [class.bg-info]="miscActive" (click)="loadItems(4)">
                <a class="nav-link black-text"  >Misc</a>
            </li>
        </ul>
        <div class="d-flex flex-wrap">
          <div class="h3 text-danger" *ngIf="noItems">
            No Items Found
          </div>
          <div *ngFor="let item of itemsList; first as isFirst" (click)="openModal(item)" style="height:200px;width:200px" class="card mx-3 mb-2">
            <div class="card-body">
              <h6 class="card-title" >{{item.name}}</h6>
              <img class="card-img" style="max-height:120px;max-width:135px" src="{{item.picturePath}}" alt="Card image cap">
              <p class="card-text"><b>${{item.price}}</b></p>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>