<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">Sign Up! Now!</h4>
    </div>
    <div class="modal-body">
        <form class="text-center p-1" [formGroup]="signupForm">
          <div class="row">
            <div class="col">
              <input type="text" id="idNumber" class="form-control mb-1" formControlName="id" placeholder="ID #">
              <input type="email" id="email" class="form-control mb-1" formControlName="email" placeholder="Email">
              <input type="password" id="password" class="form-control mb-1" formControlName="password" placeholder="Password">
              <small id="" class="form-text text-muted mb-4">
                  At least 8 characters and 1 digit
              </small>
              <input type="text" id="conPassword" class="form-control mb-1" formControlName="conPassword" placeholder="Confirm Password">
            </div>
            <div class="col border-left">
              <div class="form-row">
                <div class="col">
                  <input type="text" id="firstName" class="form-control mb-1" formControlName="firstName" placeholder="First Name">
                </div>
                <div class="col">
                  <input type="text" id="email" class="form-control mb-1" formControlName="lastName" placeholder="Last Name">
                </div>
              </div>
              <select id="city" class="form-control mb-1" formControlName="city" placeholder="City">
                <option *ngFor="let city of cityList" [value]="city">{{city}}</option>
              </select>
              <input type="text" id="street" class="form-control mb-1" formControlName="street" placeholder="Street">
          </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel" (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
    </div>
  </div>