  <div class="container-fluid">
    <div class="row">
  <div class="col-lg-4">
    <div class="container m-3">
      <button class="btn btn-success" type="button" [routerLink]="['../shop']">Shop!</button>
    </div>
    <div class="container">
      <h5>Login:</h5>
      <div class="container">
        <form [formGroup]="loginForm" action="">
          <label for="" class="control-label mb-0">User Name:</label>
          <input type="text" name="userName" formControlName="user" class="form-control form-control-sm" >
          <label for="" class="control-label mb-0">Password:</label>
          <input type="text" name="password" formControlName="password" class="form-control form-control-sm" >
          <button class="btn btn-primary" type="submit">Login</button>
          <button class="btn btn-outline-info" type="button" (click)="openSignup()" >Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
  
      <div class="card card-image mb-3" style="background-image: url(http://localhost:4200/assets/uploads/storeImg.jpg);">

        <!-- Content -->
        <div style="height:42rem" class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-5">
          <div>
            <h5 class="blue-text"><i class="fa fa-shopping-cart"></i> Why you should buy here.</h5>
            <h3 class="card-title pt-2"><strong>Shoppping! Online!</strong></h3>
            <p>Since this is a fake store you buy stuff with fake money!</p>
          </div>
        </div>
        <!-- Content -->
      </div>
  </div>
  <div class="col-lg-4">
    <div class="container mt-5">
        <mdb-card>
          <mdb-card-body>
              <mdb-card-text>
                <h5>{{itemList.length}} Products in Stock</h5>
                <h5>{{orderList.length}} Succesful orders</h5>
                <div class="container" *ngIf="loggedIn">
                  <h6 class="yellow-text">You have an open Cart</h6>
                </div>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
      
    </div>
  </div>
</div>
    </div>
<!-- #loginForm='ngForm' -->